
#frame{
    width: 77%;
    height: 100%;
    background-color:white;
    float: left;
}
#option{
    width: 23%;
    float: right;
    border:5px solid black;
    background-color:black;
}
#header{
    max-width: 100%;
    margin:0 auto;
    background-color:black;
}

#cur{
    cursor: url(cursor/brush.cur),auto;
    background-color:black;
}

#CRHslider{ 
        width :130px;
        height:10px;
        background: linear-gradient(to right, red, orange, yellow, lime, green,Turquoise,Cyan,Blue,Violet,Magenta,Crimson,red);
    } 
